#clock{
  /* font */
  font-family: 'Candal', sans-serif;
  font-size: 70px;

/*keskele paigutus */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 50%;
  padding: 20px;
  text-align: center;
}

footer{
font-family: 'Kaushan Script', cursive;
font-size: 30px;
position: fixed;
text-align: center;
bottom: 30px;
width: 100%;
}
