html{
background-color: #2c3e50;

}
div{
box-shadow: 10px 10px 7px black;
}
.clock{
height: 50%;
width: 50%;
text-align: center;
position: absolute;
font-size: 35px;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
font-family: 'Open Sans Condensed', sans-serif;
background-color: white;
}
.hours, .minutes, .seconds{
display: inline-block;
margin-left: 5px;
margin-right: 5px;
margin-bottom: 0;
padding-top: 7%;
font-size: 65px;

}
.days, .months, .years{
display: inline-block;
margin-left: 5px;
margin-right: 5px;
font-size: 30px;
margin-top: 0;
}
