@font-face {
    font-family: Bebas;
    src: url(Bebas.ttf);
}

#clock{
  color:white;
  font-size: 10em;
  font-weight: bold;
  width: 50%;
  margin: 0 auto;
  font-family: Bebas , Verdana, Tahoma;

}

body{
  background-color: #000;

}

