
body
{
	color: black;
  background-image: url("http://www.ambwallpapers.com/wp-content/uploads/2015/02/spacee-7.jpg");
	background-repeat: repeat;
	background-position: top;
  background-size: 350px;
	margin: 0px;
	padding: 0px;

}




#clock{
  left: 10%;
  position: absolute;
  width: auto;
  color: blue;
  rotation-point:50% 50%;
  rotation:180deg;

}

@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}

.hours-container {
  animation: rotate 43200s infinite linear;
}
.minutes-container {
  animation: rotate 3600s infinite linear;
}
.seconds-container {
  animation: rotate 60s infinite linear;
}
.minutes-container {
  animation: rotate 3600s infinite steps(60);
}
.seconds-container {
  animation: rotate 60s infinite steps(60);
}





#roundclock{
  left: 40%;
  position: absolute;
  height: 40px;
  width: small;
  z-index: 1;
  top: 100px;
}

#roundsecond{
  background-color: red;
  height: 90px;
  position: absolute;
  width: 1px;
  top: 10px;
  transform: rotate(0deg);
  transform-origin: 0 bottom;
  left: 50%;


}
.bar {border: 1px solid green; margin: 0.25em; border-radius: 2.75px; width: 7%}
.bar .progress {background: blue; height: 1em;}

#roundminute{
  background-color: blue;
  height: 70px;
  position: absolute;
  width: 3px;
  top: 30px;
  transform: rotate(360deg);
  transform-origin: 0 bottom;
  left: 50%;

}

#roundhour{
  background-color: blue;
  height: 80px;
  position: absolute;
  width: 3px;
  top: 20px;
  transform: rotate(180deg);
  transform-origin: 0 bottom;
  left: 50%;
}
