html{
  height:100%;
  margin:0;
  padding:0;
  background-color:NavajoWhite;
}
body{
  border:ridge;
  border-width: thick;
  width:300px;
  margin:auto;
  background-color:white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#clock, #date, #weekday, #myName{
  text-align: center;
}

#clock{
  font-weight:900;
  font-size: 300%;
  font-family:
}

#date, #myName{
  font-style: italic;
}

#myName{
  font-family: 'Poiret One', cursive;
  font-weight: bold; 
}
